*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
}
.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/1091\ [Converted].png);
    background-size: cover;
    background-position: center; 
    position: relative;
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    
}

nav img{
    width: 200px;
}

.nav-links{
    flex:2;
    text-align: right;
   
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 4px 8px;
    position: relative;
}

.nav-links ul li a{
    color:azure;
    text-decoration: none;
    font-size: 19px;
    
}

.nav-links ul li a:hover{
   
    color: #2196f3;
    box-shadow: 0 0 10px #226499, 0 0 10px #2196f3, 0 0 10px #2196f3;
}

.nav-links ul li::after{
    content: '';
    width:0%;
    height:2px;
    background: #5497d6;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
     width: 100%;
     background:#2196f3;
     background-color: #2196f3;
     box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3, 0 0 10px #2196f3;
}

.animation{
  height: 100px;
  width:100px;
  background-color: rgba(6, 10, 41, 0.007);
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
    0%   {background-color:rgb(37, 55, 158); left:0px; top:0px;}
    25%  {background-color:rgb(17, 59, 114); left:1000px; top:0px;}
    50%  {background-color:rgb(22, 22, 83); left:1000px; top:1000px;}
    75%  {background-color:rgb(18, 35, 90); left:0px; top:1000px;}
    100% {background-color:rgba(50, 120, 212, 0.938); left:0px; top:0px;}
  }

.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 195, 255);
    animation-name: light;
    animation-duration:5s;
}
@keyframes light {
    0%   {color: rgb(0, 195, 255);}
    25%  {color: rgb(0, 119, 255);}
    50%  {color: rgb(20, 20, 88);}
    100% {color: rgb(38, 60, 184);}
  }
.text-box p{
    margin: 10px 0 40px;
    font-size:14px;
    color:#fff
}


.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:white;
    padding: 12px 34px;
    border:1px solid #1524a3;
    font-size: 13px;
    background: #1524a3;
    position: relative;
    cursor:pointer;
}

.hero-btn:hover{
    border:1px solid#1524a3;
    background:#1524a3;
    box-shadow: 0 0 10px #1524a3, 0 0 10px #1524a3, 0 0 10px #1524a3;
    transition: 0.5s;
}

nav .close{
    display: none;
    
    
}

nav .bars{
    display: none;
    
}

@media(max-width:700px){
    .text-box h1{
        font-size: 25px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background: #040730;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align:left;
        z-index: 2;
        transition: 1s;
    }
    nav .close{
        display: block;
        width:40px;
        cursor: pointer;
        color: #fff;
      
    }

    nav .bars{
        display: block;
        width:40px;
        cursor: pointer;
        color:#fff;

    }
    .nav-links ul{
        padding:30px;
    }
    

}

/* ----nimoy service--- */
main{
    background-color: #132b50;
}
.service{
    width:80%;
    margin: auto;
    background-color: #132b50;
    text-align: center;
    padding-top:100px;
}

.service h1{
    font-size: 45px;
    font-weight: 600px;
    animation:type 6s infinite ;
    overflow: hidden;
    white-space: nowrap;
    color: #2196f3;
   
    

}

@media(max-width:700px){
    .service h1{
        animation: none;
        background-color: #2196f3;
        color:#132b50;
    }

}

@keyframes type
{
    0%{
        width:0ch;
    }
    70%{
        width:34ch;
    }

}

h3{
    text-align: center;
    font-size: 30px;
    font-weight: 600px;
    color: rgb(245, 245, 245);
    margin: 10px 0;
}

p{
    color:rgb(228, 224, 245);
    font-size: 19px;
    font-weight: 22px;
    line-height:22px;
    padding: 10px;
}

.row{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.service-col{
    flex-basis: 32%;
    background:#1b3b6b;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.service-col:hover{
    box-shadow: 0 0 20px 0px rgba(49, 92, 212, 0.623);
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

main .offercon{
    width:100%;
    height: 100vh;
    background-color:#0d2344 ;
}
.offer{
    width:80%;
    background-color: #0d2344;
    text-align: center;
    margin: auto;
    padding-top:50px ;
    justify-content: space-between;
}

.offer h1{
    color:#2196f3;
    font-size: 30px;
}

.offer-col{
    flex-basis: 40%;
    height:200px;
    border-radius: 14px;
    margin-bottom: 30px;
    position:relative;
    overflow: hidden;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.offer-col img{
    width:60%;
    margin-top: 30px;
    
    
}

.layer{
    background:transparent;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    transition: 1s;
    
}


.layer:hover{
    background:rgba(51, 80, 209, 0.7);
}

.layer h3{
  
    width:100%;
    font-weight: 600;
    color:#fff;
    font-size:26px ;
    bottom: 0;
    left:50%;
    position:absolute;
    transform: translateX(-50%);
    opacity: 0;
    transition:1s ;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.call{
    height:100vh;
    
    padding: 80px;
    background-color: #132b50;
}

.cta{
    margin:auto;
    width:80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/work5.jpg );
    background-position: center;
    background-size: cover;
    border-radius:10px;
    background-color:#0d2344;
    text-align: center;
    padding:100px;
}

.cta h1{
    color:#fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width:700px){

    .cta{
        margin:auto;
        padding: 30px;
    }
    .cta h1{
        font-size:24px;
    }
}

.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
    background-color:#0a172b;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
    color:rgb(255, 255, 255)
}

.footer p{
    color:rgb(255, 255, 255);
    
}
.icons{
    width: 40px;
    display: inline-flex;
    justify-content: space-around;
}
